{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h2 class="title is-4 has-text-primary">Forgot your password?</h2>
      <p class="mb-4">Enter your email to receive a reset link.</p>

      <form method="post">
        {% csrf_token %}
        <div class="field">
          {{ form.email.label_tag }}
          <div class="control">
            {{ form.email|add_class:"input is-rounded" }}
          </div>
        </div>

        <div class="field mt-4">
          <button type="submit" class="button is-primary is-fullwidth">Send Reset Link</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
