{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h2 class="title is-4 has-text-primary">Change Your Password</h2>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
              {{ field }}
            </div>
            {% if field.errors %}
              <p class="help is-danger">{{ field.errors|join:", " }}</p>
            {% endif %}
          </div>
        {% endfor %}

        <div class="field is-grouped is-grouped-right mt-4">
          <div class="control">
            <button type="submit" class="button is-primary">Save Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
